<%= form_for(@peter) do |f| %>
  <% if @peter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@peter.errors.count, "error") %> prohibited this peter from being saved:</h2>

      <ul>
      <% @peter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, style: 'align:center'  %>
    <%= f.text_field :name %>
  </div>
  <br />
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <br />
  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>
